/**
* @file badge.less
* @desc badge组件样式变量
*/
@import "../index.less";
// button
@veui-badge-button-line-height: 1.6;
@veui-badge-button-background-color: @veui-color-gray-1;
@veui-badge-button-border-color: @veui-color-gray-5;
@veui-badge-button-border-radius: @veui-border-radius-m;

// Badge area

// dot
@veui-badge-dot-size: @veui-height-unit * 2;

// label
@veui-badge-font-size: @veui-font-size-s;
@veui-badge-font-color: @veui-color-gray-1;
@veui-badge-label-height: @veui-height-unit * 5;
@veui-badge-label-min-width: @veui-badge-label-height;
@veui-badge-label-padding-x: @veui-padding-unit * 2;
@veui-badge-label-spacing-status: @veui-padding-unit * 2;
@veui-badge-padding-x: 16px;
@veui-badge-padding-y: 4px;

// colors
@veui-badge-background-color-info: @veui-color-info-6;
@veui-badge-background-color-success: @veui-color-success-6;
@veui-badge-background-color-warning: @veui-color-warning-6;
@veui-badge-background-color-error: @veui-color-error-6;
@veui-badge-background-color-aux: @veui-color-gray-6;

