@import "../index.less";

/* Indicators */
@veui-carousel-indicator-width: @veui-height-unit * 5;
@veui-carousel-indicator-width-current: @veui-height-unit * 9;
@veui-carousel-indicator-height: @veui-height-unit * 1;
@veui-carousel-indicator-border-radius: @veui-carousel-indicator-height / 2;
@veui-carousel-indicator-spacing-outer: @veui-padding-unit * 3;
@veui-carousel-indicator-spacing-inner: @veui-padding-unit * 1;
@veui-carousel-indicator-background-color: fade(@veui-color-gray-1, 30%);
@veui-carousel-indicator-background-color-hover: fade(@veui-color-gray-1, 80%);
@veui-carousel-indicator-background-color-active: @veui-color-gray-1;
@veui-carousel-indicator-background-color-current: @veui-color-gray-1;

@veui-carousel-indicator-dot-size: @veui-padding-unit * 4;
@veui-carousel-indicator-background-color-outside-current: @veui-color-brand-6;
@veui-carousel-indicator-background-color-outside-hover: @veui-color-brand-5;
@veui-carousel-indicator-background-color-outside-active: @veui-color-brand-7;
@veui-carousel-slide-gutter: @veui-padding-unit * 3;
@veui-carousel-control-spacing-inside: @veui-padding-unit * 2;
@veui-carousel-control-spacing-outside: @veui-padding-unit * 2;
@veui-transition-duration: 0.2s;
@veui-carousel-control-shadow: none;
@veui-carousel-indicator-background-color-outside: @veui-color-brand-3;

/* Controls */
@veui-carousel-control-size: @veui-height-unit * 8;
@veui-carousel-control-border-radius: 50%;
@veui-carousel-control-icon-size: @veui-height-unit * 3;
@veui-carousel-control-spacing: @veui-padding-unit * 6;

/* Pages */
@veui-carousel-pages-height: @veui-height-unit * 5;
@veui-carousel-pages-font-size: @veui-font-size-s;
@veui-carousel-pages-font-color: @veui-color-gray-1;
@veui-carousel-pages-background-color: fade(@veui-color-gray-10, 20%);
@veui-carousel-pages-padding-x: @veui-padding-unit * 1;
@veui-carousel-pages-border-radius: @veui-border-radius-s;
