@import "../index.less";

// m size
@veui-collapse-header-padding-x: @veui-padding-unit * 4 - 1;
@veui-collapse-header-padding-y: @veui-padding-unit * 4 - 1;
@veui-collapse-header-content-spacing: @veui-padding-unit * 3;

@veui-collapse-font-size-m: @veui-font-size-m;
@veui-collapse-header-line-height: @veui-line-height-m + 0.1;

@veui-collapse-body-padding-left: @veui-padding-unit * 9 + 2;
@veui-collapse-body-padding-right: @veui-padding-unit * 4 - 1;
@veui-collapse-body-padding-y: @veui-padding-unit * 4;

@veui-collapse-border-radius-m: @veui-border-radius-l;

// s size
@veui-collapse-header-padding-y-s: @veui-padding-unit * 3 - 1;
@veui-collapse-header-padding-x-s: @veui-padding-unit * 4 - 1;

@veui-collapse-font-size-s: @veui-font-size-s;
@veui-collapse-header-line-height-s: @veui-line-height-m;

@veui-collapse-body-padding-left-s: @veui-padding-unit * 9 - 1;
@veui-collapse-body-padding-right-s: @veui-padding-unit * 4 - 1;
@veui-collapse-body-padding-y-s: @veui-padding-unit * 3 - 1;

@veui-collapse-border-radius-s: @veui-border-radius-m;

// Icon size
@veui-collapse-icon-size: @veui-icon-size-aux;

// Colors
@veui-collapse-border-color: @veui-color-gray-4;
@veui-collapse-border-color-focus: @veui-border-color-focus;
@veui-collapse-header-font-color: @veui-font-color-normal;
@veui-collapse-header-font-color-disabled: @veui-font-color-disabled;
@veui-collapse-header-background-color: @veui-color-gray-1;
@veui-collapse-header-background-color-hover: @veui-color-gray-3;
@veui-collapse-header-background-color-focus: @veui-color-gray-3;
@veui-collapse-header-background-color-active: @veui-color-gray-3;
@veui-collapse-header-background-color-disabled: @veui-color-gray-2;

@veui-collapse-body-font-color: @veui-font-color-normal;
@veui-collapse-body-background-color: @veui-color-gray-2;

@veui-collapse-icon-color-aux: @veui-icon-color-aux;
@veui-collapse-icon-color-aux-disabled: @veui-icon-color-aux-disabled;
