@import "../global.less";
@import "./dialog.less";

@veui-drawer-width: 800px;

@veui-drawer-level-indent: 60px;

@veui-drawer-shadow-top: @veui-shadow-anchored-top;
@veui-drawer-shadow-right: @veui-shadow-anchored-right;
@veui-drawer-shadow-bottom: @veui-shadow-anchored-bottom;
@veui-drawer-shadow-left: @veui-shadow-anchored-left;

// Detailed styles are the same as Dialog except for these
@veui-drawer-title-font-size-s: @veui-dialog-title-font-size-s;
@veui-drawer-title-font-size-m: @veui-dialog-title-font-size-m;
@veui-drawer-close-icon-size: @veui-dialog-close-icon-size;
