@import "../global.less";
@import "./dialog.less";

@veui-embedded-title-font-size-s: @veui-dialog-title-font-size-s;
@veui-embedded-title-font-size-m: @veui-dialog-title-font-size-m;
@veui-embedded-close-icon-size: @veui-dialog-close-icon-size;
@veui-embedded-shadow: @veui-dialog-shadow;
@veui-embedded-border-color: @veui-border-color-strong;
