/**
* @file form.less
* @desc form组件样式变量
*/
@import "../index.less";
@veui-form-font-size-s: @veui-font-size-s;
@veui-form-font-size-m: @veui-font-size-m;

@veui-form-label-spacing-after-horizontal: @veui-padding-unit * 4;
@veui-form-label-spacing-after-vertical: @veui-padding-unit * 2;
@veui-form-label-content-spacing: @veui-padding-unit * 1;

@veui-form-label-font-color: @veui-font-color-aux;
@veui-form-label-icon-color: @veui-icon-color-aux;
@veui-form-label-required-color: @veui-font-color-error;

@veui-form-field-spacing-vertical-normal: @veui-padding-unit * 5;
@veui-form-field-spacing-vertical-loose: @veui-padding-unit * 10;
@veui-form-field-error-font-color: @veui-font-color-error;
@veui-form-actions-spacing-before: @veui-padding-unit * 6;
@veui-form-actions-content-spacing: @veui-padding-unit * 3;

@veui-form-top-field-label-padding-bottom: @veui-padding-unit * 2;
