@import "../global.less";

/* Font sizes */
@veui-link-font-size-s: @veui-font-size-s;
@veui-link-font-size-m: @veui-font-size-m;

/* Text decorations */
@veui-link-text-decoration: none;
@veui-link-text-decoration-hover: underline;
@veui-link-text-decoration-focus: underline;
@veui-link-text-decoration-active: underline;

/* Stylistic variants */
// normal
@veui-link-font-color-normal: @veui-color-gray-9;
@veui-link-font-color-normal-hover: @veui-color-gray-8;
@veui-link-font-color-normal-focus: @veui-color-gray-8;
@veui-link-font-color-normal-active: @veui-color-gray-10;
@veui-link-font-color-normal-disabled: @veui-color-gray-6;

// strong
@veui-link-font-color-strong: @veui-color-info-6;
@veui-link-font-color-strong-hover: @veui-color-info-5;
@veui-link-font-color-strong-focus: @veui-color-info-5;
@veui-link-font-color-strong-active: @veui-color-info-7;
@veui-link-font-color-strong-disabled: @veui-color-info-3;
