@import "../global.less";
@import "./input.less";

/* Metrics */
@veui-number-input-padding-x: @veui-padding-unit * 3;

// Heights
@veui-number-input-height-xs: @veui-height-xs;
@veui-number-input-height-s: @veui-height-s;
@veui-number-input-height-m: @veui-height-m;
@veui-number-input-height-l: @veui-height-l;
@veui-number-input-height-xl: @veui-height-xl;

// Widths

// Normal
@veui-number-input-spin-button-color: @veui-border-color-normal;
@veui-number-input-spin-button-hover-color: @veui-color-brand-5;
@veui-number-input-spin-icon-size-normal: @veui-height-unit * 2;
@veui-number-input-spin-button-min-width-normal: 16px;
@veui-number-input-spin-button-width-normal-xs: max(
  @veui-number-input-spin-button-min-width-normal,
  @veui-number-input-height-xs / 2
);
@veui-number-input-spin-button-width-normal-s: max(
  @veui-number-input-spin-button-min-width-normal,
  @veui-number-input-height-s / 2
);
@veui-number-input-spin-button-width-normal-m: max(
  @veui-number-input-spin-button-min-width-normal,
  @veui-number-input-height-m / 2
);
@veui-number-input-spin-button-width-normal-l: max(
  @veui-number-input-spin-button-min-width-normal,
  @veui-number-input-height-l / 2
);
@veui-number-input-spin-button-width-normal-xl: max(
  @veui-number-input-spin-button-min-width-normal,
  @veui-number-input-height-xl / 2
);

@veui-number-input-digits-normal: 6;
// digits + spin button + horizontal paddings + left border
@veui-number-input-width-normal-xs: veui-sum(
  unit(@veui-number-input-digits-normal, ch),
  @veui-number-input-spin-button-width-normal-xs,
  @veui-input-padding * 2,
  1px
);
@veui-number-input-width-normal-s: veui-sum(
  unit(@veui-number-input-digits-normal, ch),
  @veui-number-input-spin-button-width-normal-s,
  @veui-input-padding * 2,
  1px
);
@veui-number-input-width-normal-m: veui-sum(
  unit(@veui-number-input-digits-normal, ch),
  @veui-number-input-spin-button-width-normal-m,
  @veui-input-padding * 2,
  1px
);
@veui-number-input-width-normal-l: veui-sum(
  unit(@veui-number-input-digits-normal, ch),
  @veui-number-input-spin-button-width-normal-l,
  @veui-input-padding * 2,
  1px
);
@veui-number-input-width-normal-xl: veui-sum(
  unit(@veui-number-input-digits-normal, ch),
  @veui-number-input-spin-button-width-normal-xl,
  @veui-input-padding * 2,
  1px
);

@veui-number-input-spin-icon-color: @veui-color-gray-7;

// Strong
@veui-number-input-spin-icon-color-strong: @veui-color-gray-8;
@veui-number-input-spin-icon-size-strong: 10px;
// Strong spin buttons' width and height share the same value

@veui-number-input-digits-strong: 6;

@veui-number-input-width-strong-xs: veui-sum(
  unit(@veui-number-input-digits-strong, ch),
  @veui-number-input-height-xs * 2,
  @veui-input-padding * 2
);
@veui-number-input-width-strong-s: veui-sum(
  unit(@veui-number-input-digits-strong, ch),
  @veui-number-input-height-s * 2,
  @veui-input-padding * 2
);
@veui-number-input-width-strong-m: veui-sum(
  unit(@veui-number-input-digits-strong, ch),
  @veui-number-input-height-m * 2,
  @veui-input-padding * 2
);
@veui-number-input-width-strong-l: veui-sum(
  unit(@veui-number-input-digits-strong, ch),
  @veui-number-input-height-l * 2,
  @veui-input-padding * 2
);
@veui-number-input-width-strong-xl: veui-sum(
  unit(@veui-number-input-digits-strong, ch),
  @veui-number-input-height-xl * 2,
  @veui-input-padding * 2
);
