@import "../global.less";

@veui-popover-max-width: 400px;
@veui-popover-line-height: @veui-line-height-l;
@veui-popover-padding-x: @veui-padding-unit * 6;
@veui-popover-padding-y: @veui-padding-unit * 4;
@veui-popover-arrow-spacing: @veui-padding-unit * 3;

@veui-popover-border-radius-s: @veui-border-radius-l;
@veui-popover-border-radius-m: @veui-border-radius-l;

// Font size is inherited from global font-size
// Colors are the same as reverse tooltips
