@import "../global.less";

/* Common */
// 字体大小
@veui-tab-font-size-s: @veui-font-size-s;
@veui-tab-font-size-m: @veui-font-size-m;
// tab padding间距
@veui-tab-padding-x-s: @veui-padding-unit * 3;
@veui-tab-padding-x-m: @veui-padding-unit * 4;
// 内容文字间距
@veui-tab-content-spacing: @veui-padding-unit * 1;
// 操作删除间距
@veui-tab-nav-spacing: @veui-padding-unit * 2;
// 字体颜色
@veui-tab-font-color: @veui-font-color-normal; // #333
@veui-tab-font-color-hover: @veui-font-color-aux; // #666
@veui-tab-font-color-focus: @veui-tab-font-color-hover; // #666
@veui-tab-font-color-active: @veui-font-color-strong; // #000
@veui-tab-font-color-disabled: @veui-font-color-disabled; // #ccc

@veui-tab-font-color-current: @veui-color-brand-6; // #4C84FF
@veui-tab-font-color-current-hover: @veui-color-brand-5; // #709BFF
@veui-tab-font-color-current-focus: @veui-tab-font-color-current-hover; // #709BFF
@veui-tab-font-color-current-active: @veui-color-brand-7; // #366CD9
// 边框颜色
@veui-tab-container-separator-color: @veui-separator-color-strong;
@veui-tab-container-border-width: 1px;
// 高亮after伪类样式
@veui-tab-indicator-color: @veui-tab-font-color-current;
@veui-tab-indicator-width: 2px;
// Icon size
@veui-tab-icon-size: @veui-icon-size-normal;
@veui-tab-icon-size-aux: 12px;
// box-shadow 间距
@veui-tab-menu-boxshadow-padding: 2px;

/* Normal */
// 文字距离底部边线距离
@veui-tab-item-label-bottom-normal: @veui-padding-unit * 2;
// 高亮文字加粗
@veui-tab-item-active-font-weight-normal: @veui-font-weight-2;

/* Primary */
// 高度
@veui-tab-menu-height-primary: @veui-padding-unit * 11;
// 删除按钮间距
@veui-tab-menu-remove-spacing-primary: @veui-padding-unit * 2;
// 边框圆角
@veui-tab-border-radius-primary: @veui-border-radius-l;
// 添加按钮距离左侧的距离
@veui-tab-add-spacing-primary: @veui-padding-unit * 3;
// 添加按钮颜色
@veui-tab-add-color-primary: @veui-color-brand-6;
// 背景色
@veui-tab-background-color-primary: @veui-color-gray-2;
@veui-tab-background-color-hover-primary: @veui-background-color-normal-hover;
@veui-tab-background-color-active-primary: @veui-background-color-normal-active;
@veui-tab-background-color-disabled-primary: @veui-background-color-disabled;
@veui-tab-background-color-current-primary: @veui-background-color-normal;

/* Bordered */
// 高度
@veui-tab-menu-height-bordered: @veui-padding-unit * 9;
// 当前高亮边框
@veui-tab-current-color-bordered: @veui-color-gray-1;
@veui-tab-current-color-disabled-bordered: @veui-color-brand-2;
// 禁用边框
@veui-tab-border-disabled-bordered: @veui-border-color-disabled;
// 背景色
@veui-tab-background-color-hover-bordered: @veui-background-color-normal-hover;
@veui-tab-background-color-active-bordered: @veui-background-color-normal-active;
@veui-tab-background-color-disabled-bordered: @veui-background-color-disabled;
