@import "../global.less";

/* Metrics */
@veui-tab-height-s: @veui-height-unit * 10;
@veui-tab-height-m: @veui-height-unit * 11;
@veui-tab-height-l: @veui-height-unit * 12;

@veui-tab-height-segment-m: @veui-height-unit * 9;
@veui-tab-height-segment-s: @veui-height-unit * 8;

@veui-tab-padding-x-s: @veui-padding-unit * 4;
@veui-tab-padding-x-m: @veui-padding-unit * 4;
@veui-tab-padding-x-l: @veui-padding-unit * 4;

@veui-tab-spacing-x-s: @veui-padding-unit * 5;
@veui-tab-spacing-x-m: @veui-padding-unit * 6;
@veui-tab-spacing-x-l: @veui-padding-unit * 7;

@veui-tab-dropdown-spacing-x: @veui-padding-unit * 2;
@veui-tab-dropdown-spacing-y: @veui-padding-unit * 2;
@veui-tab-content-spacing: @veui-padding-unit * 1;

@veui-tab-nav-spacing-s: @veui-padding-unit * 2;
@veui-tab-nav-spacing-m: @veui-padding-unit * 3;
@veui-tab-nav-spacing-l: @veui-padding-unit * 4;

/* Typography */
// Sizes
@veui-tab-font-size-s: @veui-font-size-s;
@veui-tab-font-size-m: @veui-font-size-m;
@veui-tab-font-size-l: @veui-font-size-l;

// Colors
@veui-tab-font-color: @veui-font-color-normal;
@veui-tab-font-color-hover: @veui-font-color-aux;
@veui-tab-font-color-focus: @veui-tab-font-color-hover;
@veui-tab-font-color-active: @veui-font-color-strong;
@veui-tab-font-color-disabled: @veui-font-color-disabled;

@veui-tab-font-color-current: @veui-color-brand-6;
@veui-tab-font-color-current-hover: @veui-color-brand-5;
@veui-tab-font-color-current-focus: @veui-tab-font-color-current-hover;
@veui-tab-font-color-current-active: @veui-color-brand-7;

@veui-tab-background-color-focus: @veui-background-color-normal-focus;

// Weights
@veui-tab-font-weight-current: @veui-font-weight-2;

/* Container */
@veui-tab-container-separator-color: @veui-separator-color-strong;
@veui-tab-container-border-width: 1px;

/* Panel */
@veui-tab-panel-padding-top: @veui-padding-unit * 4;
@veui-tab-panel-padding-x-segment: @veui-padding-unit * 4;
@veui-tab-panel-padding-y-segment: @veui-padding-unit * 4;

/* Misc */
// Overflow shadow
@veui-tab-overflow-shadow-right: @veui-shadow-overflow-right;
@veui-tab-overflow-shadow-left: @veui-shadow-overflow-left;

// Indicator
@veui-tab-indicator-color: @veui-tab-font-color-current;
@veui-tab-indicator-width: 2px;

// Icon size
@veui-tab-icon-size: @veui-icon-size-normal;
@veui-tab-icon-size-aux: @veui-icon-size-aux;

@veui-tab-separator-height-simple: 1em;
@veui-tab-separator-color: @veui-color-gray-10;

// Strong
// TODO: add s/l sizes
@veui-tab-menu-height-strong-m: @veui-padding-unit * 12;

@veui-tab-padding-x-strong-m: @veui-padding-unit * 6;
@veui-tab-spacing-x-strong-m: 0;
@veui-tab-menu-padding-x-strong-m: @veui-padding-unit * 4;

@veui-tab-border-radius-strong-m: @veui-border-radius-l;
@veui-tab-container-border-radius-strong-m: @veui-border-radius-l;

@veui-tab-container-border-color-strong: @veui-color-gray-10;

@veui-tab-menu-background-color-strong: @veui-color-gray-2;

@veui-tab-background-color-strong: transparent;
@veui-tab-background-color-strong-hover: @veui-color-gray-1;
@veui-tab-background-color-strong-focus: @veui-background-color-normal-focus;
@veui-tab-background-color-strong-active: @veui-color-gray-3;
@veui-tab-background-color-strong-disabled: @veui-tab-background-color-strong;

@veui-tab-background-color-strong-current: @veui-background-color-normal;
@veui-tab-background-color-strong-current-hover: @veui-tab-background-color-strong-current;
@veui-tab-background-color-strong-current-focus: @veui-tab-background-color-strong-current-hover;
@veui-tab-background-color-strong-current-active: @veui-tab-background-color-strong-current-hover;

@veui-tab-font-color-strong: @veui-color-gray-10;
@veui-tab-font-color-strong-hover: @veui-color-gray-10;
@veui-tab-font-color-strong-focus: @veui-color-gray-10;
@veui-tab-font-color-strong-active: @veui-color-gray-10;
@veui-tab-font-color-strong-disabled: @veui-color-gray-10;

@veui-tab-font-color-strong-current: @veui-color-gray-10;
@veui-tab-font-color-strong-current-hover: @veui-color-gray-10;
@veui-tab-font-color-strong-current-focus: @veui-color-gray-10;
@veui-tab-font-color-strong-current-active: @veui-color-gray-10;
