@import "../global.less";

/* Widths */
@veui-time-picker-width: 160px;
@veui-time-picker-dropdown-min-width: @veui-time-picker-width;
@veui-time-picker-option-content-min-width: 2ch;
@veui-time-picker-minute-width: 80px;
@veui-time-picker-second-s-width: 64px;
@veui-time-picker-second-m-width: 67px; // TODO

/* Icon */
@veui-time-picker-icon-color: @veui-input-icon-color;
@veui-time-picker-icon-color-disabled: @veui-input-icon-color-disabled;

/* Stylistic variants */
// normal
@veui-time-picker-background-color-normal: @veui-color-gray-1;
@veui-time-picker-background-color-normal-hover: @veui-color-brand-1;
@veui-time-picker-background-color-normal-focus: @veui-color-brand-2;
@veui-time-picker-background-color-normal-active: @veui-color-brand-2;
@veui-time-picker-background-color-normal-disabled: @veui-color-gray-6;
@veui-time-picker-font-color-selected: @veui-color-brand-6;

// See TextInput for input styles
// See Option for dropdown option styles
