@import "../global.less";

/* Metrics */
@veui-tooltip-max-width: veui-sum(16em, @veui-tooltip-padding-x * 2);
@veui-tooltip-font-size: @veui-font-size-s;
@veui-tooltip-line-height: @veui-line-height-fixed-s;
@veui-tooltip-padding-x: @veui-padding-unit * 3;
@veui-tooltip-padding-y: @veui-padding-unit * 1.5;
@veui-tooltip-arrow-size: @veui-padding-unit * 2.5; // 箭头对角线
@veui-tooltip-arrow-width: @veui-tooltip-arrow-size / sqrt(2); // 箭头边线
@veui-tooltip-arrow-spacing: @veui-padding-unit * 2 + 1;
@veui-tooltip-border-radius: @veui-border-radius-l;

/* Stylistic variants */
@veui-tooltip-font-color-normal: @veui-color-gray-1;
@veui-tooltip-background-color-normal: fade(@veui-color-gray-10, 80%);
@veui-tooltip-shadow-normal: none;

@veui-tooltip-font-color-reverse: @veui-color-gray-9;
@veui-tooltip-background-color-reverse: @veui-color-gray-1;
@veui-tooltip-shadow-reverse: @veui-shadow;
