@import "../lib.less";

.veui-alert {
  @success: @veui-success-color;
  @warning: @veui-warning-color;
  @info: @veui-info-color;
  @error: @veui-alert-color;

  position: relative;
  height: 28px;
  line-height: 26px;
  border-radius: 2px;
  font-size: @veui-font-size-small;
  display: table;
  width: 100%;
  padding: 0 10px 0 8px;

  &[ui="limit"] {
    width: 340px;
  }

  &-state,
  &-message,
  &-nav,
  &-close {
    display: table-cell;
  }

  &-state {
    padding-right: 17px;
    position: relative;
  }

  &-icon {
    transform: translateY(-50%);
    .absolute(50%, _, _, 0);
  }

  .make-state-message(@state) {
    &-@{state} {
      @fg-color-name: ~"veui-@{state}-color";
      @bg-color-name: ~"veui-@{state}-background-color";
      @border-color-name: ~"veui-@{state}-border-color";
      background-color: @@bg-color-name;
      border: 1px solid @@border-color-name;
      color: @@fg-color-name;

      .veui-alert-close .veui-button,
      .veui-alert-nav .veui-button {
        color: @@fg-color-name;
        font-size: @veui-font-size-small;

        &:hover,
        &.focus-visible,
        &:active {
          color: @@fg-color-name;
        }
      }

      .veui-button.veui-alert-close-text {
        color: @@fg-color-name;
        width: auto;
        height: auto;
        line-height: 1.5;
        &:hover,
        &.focus-visible,
        &:active {
          color: @@fg-color-name;
        }
      }
    }
  }

  .make-state-message(success);
  .make-state-message(warning);
  .make-state-message(info);
  .make-state-message(error);

  &-message {
    width: 100%;
    height: 100%;
  }

  &-nav {
    &-indicator {
      .margin(_, 8px);
    }

    .veui-button {
      vertical-align: middle;
    }
  }

  &-close,
  &-nav {
    padding-left: 10px;
    vertical-align: middle;
    white-space: nowrap;

    .veui-button {
      height: 8px;

      .veui-icon {
        margin-top: 0;
        .size(8px);
      }

      &:hover,
      &.focus-visible,
      &:active {
        color: @veui-dark-gray-color1;
      }
    }
  }
}
