@import "../lib.less";

.@{veui-prefix}-alert-box {
  .@{veui-prefix}-dialog-content {
    // width: @veui-dialog-width-contextual;
    // padding-top: @veui-dialog-padding-y;

    &-head {
      display: none;
    }

    &-body {
      display: flex;
    }
  }

  &-icon {
    // .veui-icon-size(@veui-dialog-icon-size-contextual);

    &-wrapper {
      display: flex;
      align-items: center;
      // margin-right: @veui-dialog-icon-spacing-contextual;
      // height: veui-line-height(
      //   @veui-dialog-title-line-height,
      //   @veui-dialog-title-font-size-m
      // );
      // font-size: @veui-dialog-title-font-size-m;

      [ui~="s"] & {
        // height: veui-line-height(
        //   @veui-dialog-title-line-height,
        //   @veui-dialog-title-font-size-s
        // );
        // font-size: @veui-dialog-title-font-size-s;
      }

      .@{veui-prefix}-alert-box-titleless & {
        // height: veui-line-height(
        //   @veui-dialog-body-line-height,
        //   @veui-dialog-body-font-size-m
        // );
        // font-size: @veui-dialog-body-font-size-m;

        [ui~="s"]& {
          // height: veui-line-height(
          //   @veui-dialog-body-line-height,
          //   @veui-dialog-body-font-size-s
          // );
          // font-size: @veui-dialog-body-font-size-s;
        }
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;
    margin-top: 0;
    // margin-bottom: @veui-dialog-title-spacing-after-contextual;
    // color: @veui-dialog-title-font-color;
    // line-height: @veui-dialog-title-line-height;
    // font-weight: @veui-font-weight-1;
    // font-size: @veui-dialog-title-font-size-m;
  }

  &-wrapper {
    flex-grow: 1;
  }

  &-content {
    // line-height: @veui-dialog-body-line-height;
  }

  .@{veui-prefix}-dialog-content-foot {
    display: flex;

    &::before {
      content: "";
      display: block;
      float: left;
      // font-size: @veui-dialog-title-font-size-m;
      // width: veui-sum(
      //   @veui-dialog-icon-size-contextual,
      //   @veui-dialog-icon-spacing-contextual
      // );
    }
  }

  &[ui~="s"] .@{veui-prefix}-dialog-content-foot::before {
    // font-size: @veui-dialog-title-font-size-s;
  }

  &-titleless[ui~="s"] .@{veui-prefix}-dialog-content-foot::before {
    // font-size: @veui-dialog-body-font-size-s;
  }

  &-info &-icon {
    // color: @veui-dialog-icon-color-info;
  }

  &-success &-icon {
    // color: @veui-dialog-icon-color-success;
  }

  &-error &-icon {
    // color: @veui-dialog-icon-color-error;
  }

  &-warning &-icon {
    // color: @veui-dialog-icon-color-warning;
  }
}
