@import "../lib.less";
@button-width: 90px;
@button-height: 28px;

.veui-button-group {
  display: inline-block;

  .veui-button {
    position: relative;
    z-index: 0;
    margin-left: -1px;
    border-radius: 0;
    min-width: @button-width;
    .centered-line(@button-height);
    font-size: @veui-font-size-small;

    &:first-child {
      margin-left: 0;
      border-bottom-left-radius: @veui-border-radius-normal;
      border-top-left-radius: @veui-border-radius-normal;
    }

    &:last-child {
      border-bottom-right-radius: @veui-border-radius-normal;
      border-top-right-radius: @veui-border-radius-normal;
    }

    &:hover,
    &:focus {
      &:not(.veui-disabled) {
        z-index: 2;
      }
    }

    &[ui~="interval"] {
      margin-left: 5px;
      border-radius: @veui-border-radius-normal;
      background: @veui-light-gray-color1;
      &:first-child {
        margin-left: 0;
      }
      &:hover,
      &:focus {
        background: @veui-middle-gray-color6;
      }
    }
  }
}
