@import "../lib.less";
@import "../variables/components/checkbox.less";

.@{veui-prefix}-checkbox-group {
  display: flex;
  align-items: center;

  .@{veui-prefix}-checkbox {
    flex: none;
  }
  .@{veui-prefix}-radio,
  .@{veui-prefix}-checkbox {
    & + .@{veui-prefix}-radio,
    & + .@{veui-prefix}-checkbox {
      margin-left: @veui-checkbox-group-spacing;
    }
  }
}
