@import "../lib.less";
@import "../variables/components/embedded.less";

.@{veui-prefix}-embedded {
  .@{veui-prefix}-dialog-content-head {
    &-close .@{veui-prefix}-icon {
      .veui-icon-size(@veui-embedded-close-icon-size);
    }
    font-size: @veui-embedded-title-font-size;
  }

  &.veui-dialog-box:not(.veui-dialog-box-mask) {
    .@{veui-prefix}-dialog-content {
      box-shadow: @veui-embedded-shadow;
      &-head-title {
        font-size: inherit;
      }
      &-foot {
        text-align: center;
      }
    }
  }
}
