@import "../lib.less";
@import "../variables/components/field.less";
@import "../variables/components/form.less";

// will be removed
@veui-form-field-spacing-after-horizontal: @veui-padding-unit * 2;

.@{veui-prefix}-field {
  position: relative;
  display: flex;
  align-items: stretch;
  font-size: @veui-font-size-s;
  min-height: @veui-height-m;

  &-label {
    position: relative;
    flex: none;
    width: @veui-form-label-width;
    margin-right: @veui-form-label-spacing-after-horizontal;
    color: @veui-form-label-font-color;
    text-align: right;

    .@{veui-prefix}-label {
      line-height: @veui-height-m;
    }
  }

  &-required > &-label::before {
    content: "*";
    margin-right: @veui-form-label-content-spacing;
    color: @veui-form-label-required-color;
  }

  .@{veui-prefix}-field-tip {
    .absolute(@veui-height-m / 2, _, _, veui-sum(100%, @veui-form-label-content-spacing));
    color: @veui-form-label-icon-color;
    transform: translateY(-50%);

    .@{veui-prefix}-icon {
      display: block;
    }
  }

  &-no-label {
    margin-left: veui-sum(@veui-form-label-width, @veui-form-label-spacing-after-horizontal);
  }

  .@{veui-prefix}-field-content {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    position: relative;
  }

  &-error {
    position: absolute;
    left: 0;
    top: veui-sum(100%, @veui-form-field-error-spacing-before-vertical);
    color: @veui-form-field-error-font-color;
  }

  .make-ui(@font-size, @min-height) {
    font-size: @font-size;
    min-height: @min-height;

    .@{veui-prefix}-form-label {
      line-height: @min-height;
    }
    .@{veui-prefix}-form-tip {
      top: ~"calc(@{min-height} / 2)";
    }
  }
  &[ui~="l"] {
    .make-ui(@veui-font-size-l, @veui-height-l);
  }

  &[ui~="m"] {
    .make-ui(@veui-font-size-m, @veui-height-m);
  }

  &[ui~="s"] {
    .make-ui(@veui-font-size-s, @veui-height-s);
  }

  &[ui~="xs"] {
    .make-ui(@veui-font-size-s, @veui-height-xs);
  }
}
