@import "../lib.less";
@import "../variables/components/field.less";
@import "../variables/components/form.less";

.@{veui-prefix}-form {
    font-size: @veui-form-font-size-s;

    .@{veui-prefix}-field {
        margin-bottom: @veui-form-field-spacing-vertical-normal;
        min-height: @veui-height-s;
        .@{veui-prefix}-label {
            display: inline-block;
            line-height: @veui-line-height-m;
            .padding((@veui-height-s - @veui-form-font-size-s * @veui-line-height-m) / 2, _);
        }
    }

    .@{veui-prefix}-field .@{veui-prefix}-field-no-label {
        margin-bottom: 0;
        margin-left: 0;
    }

    &-actions {
        margin-top: @veui-form-actions-spacing-before;
        // padding-left: veui-sum(@veui-form-label-width, @veui-form-label-spacing-after-horizontal);

        .@{veui-prefix}-button + .@{veui-prefix}-button {
            margin-left: @veui-form-actions-content-spacing;
        }
    }

    &[ui~="m"] {
        font-size: @veui-form-font-size-m;
        .@{veui-prefix}-field {
            min-height: @veui-height-m;
            .@{veui-prefix}-label {
                line-height: @veui-line-height-m + 0.1;
            }
        }
    }

    &[ui~="loose"] {
        .@{veui-prefix}-field {
            margin-bottom: @veui-form-field-spacing-vertical-loose;
        }
    }

    &[ui~="top"] {
        .@{veui-prefix}-field {
            flex-direction: column;
            margin-bottom: @veui-form-field-spacing-vertical-normal;
            &-label {
                margin-right: 0;
                text-align: left;
                .padding(0);
                .@{veui-prefix}-label {
                    .padding(0, 0, @veui-form-top-field-label-padding-bottom, 0);
                }
            }
        }
    }
}
