@import "../lib.less";
@import (reference) "../dropdown.less";

.veui-option-group {
  &-label {
    display: block;
    .centered-line(@veui-height-normal);
    padding: 0 8px;
    font-size: @veui-font-size-small;
  }

  &-label:not(&-button) {
    .veui-option-label {
      color: @veui-middle-gray-color7;
    }
  }

  .veui-option {
    padding-left: 20px;
  }

  &-button {
    &:extend(._veui-dropdown-option all);
  }

  &-expanded &-button {
    background-color: @option-hover-color;

    &:active {
      background-color: @option-active-color;
    }
  }

  &-unlabelled {
    border-top: 1px solid @veui-middle-gray-color4;

    &:first-child {
      border-top: none;
    }

    .veui-option {
      padding-left: 7px;
    }
  }

  &-box &-options {
    &:extend(._veui-dropdown-overlay all);
    margin: -1px 5px;
    .veui-option-group {
      &:first-child {
        .veui-option-group-label {
          border-top-left-radius: @veui-border-radius-normal;
          border-top-right-radius: @veui-border-radius-normal;
        }
      }
      &:last-child {
        .veui-option-group-label {
          border-bottom-left-radius: @veui-border-radius-normal;
          border-bottom-right-radius: @veui-border-radius-normal;
        }
      }
    }
    .veui-option {
      .centered-line(@veui-height-normal);
      font-size: @veui-font-size-small;
      &:first-child {
        border-top-left-radius: @veui-border-radius-normal;
        border-top-right-radius: @veui-border-radius-normal;
      }
      &:last-child {
        border-bottom-left-radius: @veui-border-radius-normal;
        border-bottom-right-radius: @veui-border-radius-normal;
      }
    }
  }

  &-expandable {
    @half-height: @veui-height-normal / 2;
    float: right;
    margin-top: ~"calc(@{half-height} - .5em)";
  }
}
