@import "../lib.less";
@import (reference) "../dropdown.less";
@import (reference) "../input.less";

@select-input-tiny-width: 190px; // ui=tiny 输入框的宽度
@select-input-tiny-height: 21px; // ui=tiny 输入框的高度
@expand-icon-tiny-width: 6px; // ui=tiny 展开按钮的宽度
@expand-icon-tiny-height: 4px; // ui=tiny 展开按钮的高度
@font-size-tiny: @veui-font-size-small; // ui=tiny 字体大小
@select-input-small-width: 133px; // ui=small 输入框的宽度
@select-input-small-height: 28px; // ui=small 输入框的高度
@expand-icon-small-width: 9px; // ui=small 展开按钮的宽度
@expand-icon-small-height: 6px; // ui=small 展开按钮的高度
@font-size-small: @veui-font-size-small; // ui=small 字体大小
@select-input-width: 190px; // 默认尺寸 输入框的宽度
@select-input-height: 28px; // 默认尺寸 输入框的高度
@expand-icon-width: 9px; // 默认尺寸 展开按钮的宽度
@expand-icon-height: 6px; // 默认尺寸 展开按钮的高度
@font-size: @veui-font-size-small; // 默认尺寸 字体大小
@select-input-large-width: 364px; // ui=large 输入框的宽度
@select-input-large-height: 38px; // ui=large 输入框的高度
@expand-icon-large-width: 12px; // ui=large 展开按钮的宽度
@expand-icon-large-height: 8px; // ui=large 展开按钮的高度
@select-dropdown-height: 150px; // 下拉列表的最大高度
@font-size-large: @veui-font-size-normal; // ui=large 字体大小

.veui-select {
  &:extend(._veui-dropdown-button all);

  &-label {
    color: @veui-dark-gray-color2;
  }

  .veui-button {
    > .veui-icon {
      color: @veui-middle-gray-color7;
      margin-top: (@select-input-height - @expand-icon-height) / 2;
      width: @expand-icon-width;
      height: @expand-icon-height;
      margin-right: 2px;
    }
  }

  &.veui-input-invalid .veui-button.veui-select-button {
    &:extend(._veui-input-invalid all);
  }

  display: inline-block;
  color: @veui-dark-gray-color2;

  &-options {
    &[ui~="checkmark"] {
      .veui-option-group-unlabelled .veui-option,
      .veui-option {
        padding: 0 10px 0 20px;
        position: relative;
      }
    }
    .veui-option-label {
      color: @veui-dark-gray-color2;
    }
    .veui-option-group-expandable {
      color: @veui-middle-gray-color7;
    }
  }

  .make-options(@ui) {
    @width: ~"select-input-@{ui}-width";
    @height: ~"select-input-@{ui}-height";
    @expand-width: ~"expand-icon-@{ui}-width";
    @expand-height: ~"expand-icon-@{ui}-height";
    @options-font-size: ~"font-size-@{ui}";
    width: @select-input-width;
    height: @select-input-height;
    &[ui~=@{ui}] {
      width: @@width;
      height: @@height;
      .veui-button {
        .centered-line(@@height);
        > .veui-icon {
          width: @@expand-width;
          height: @@expand-height;
          margin-top: (@@height - @@expand-height) / 2;
        }
      }
    }
    &-options {
      &:extend(._veui-dropdown-overlay all);
      font-size: @font-size;
      width: @select-input-width;
      max-height: @select-dropdown-height;
      background-color: @veui-light-gray-color5;
      outline: none;
      border-radius: @veui-border-radius-normal;
      overflow-y: auto;
      .veui-input {
        .centered-line(@select-input-height);
      }
      &[ui~=@{ui}] {
        font-size: @@options-font-size;
        width: @@width;
        .veui-option,
        .veui-input {
          .centered-line(@@height);
        }
        .veui-option-label {
          display: inline-block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .make-options('tiny');
  .make-options('small');
  .make-options('large');

  &[ui~="large"] {
    .veui-select-label {
      font-size: @veui-font-size-normal;
    }
  }

  &-options[ui~="large"] {
    .veui-option-label {
      font-size: @veui-font-size-normal;
    }
  }
  &-options[ui~="multilayer"] {
    .children-options {
      > .veui-option-group {
        &:hover {
          cursor: pointer;
          background: #EDF4FE;
          .children-item-options {
            // display: block;
            visibility: visible;
            opacity: 1;
          }
        }
        .veui-option-group-label {
          color: @veui-dark-gray-color2;
          .centered-line(31px);
        }
        .angle-right {
          .size(6px, 9px);
          color: @veui-middle-gray-color7;
          float: right;
          margin: 11px 8px 11px 0;
        }
      }
      .children-item-options {
        position: absolute;
        left: 192px;
        top: 0;
        background: @veui-light-gray-color5;
        border: 1px solid @veui-middle-gray-color4;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
        border-radius: @veui-border-radius-normal;
        // display: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
      }
    }
  }

  &-options {
    .veui-option-group {
      &-label {
        display: inline-block;
        .centered-line(31px);
        padding: 0 8px;
        font-size: @veui-font-size-small;
        color: @veui-dark-gray-color3;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      .veui-option {
        padding-left: 14px;
      }
  
      &-unlabelled {
        border-top: 1px solid @veui-middle-gray-color4;
  
        &:first-child {
          border-top: none;
        }
  
        .veui-option {
          padding: 0 7px;
        }
      }
    }
  }
}
