@import "../lib.less";

@switch-large-width: 70px; // ui=large switch宽度
@switch-large-height: 25px; // ui=large switch高度
@switch-width: 58px; // 默认 switch宽度
@switch-height: 20px; // 默认 switch高度
@switch-small-width: 28px; // ui=small switch宽度
@switch-small-height: 11px; // ui=small switch高度
@switch-small-border-radius: 5.5px; // ui=small switch圆角
@switch-border-radius: 63px; // 默认 switch圆角
@switch-large-border-radius: 23px; // ui=large switch圆角
@switch-large-color: #04BE5B; // ui=large switch open色
@switch-small-color: #4DA1FF; // ui=small switch open色
@switch-normal-bg-color: #CAD3DF; // 默认状态下 switch背景色
@switch-small-bg-color: rgba(152, 152, 152, 0.11); // ui=small switch背景色
@switch-btn-border-color: #D0D7DD; // switch按钮的border颜色
@switch-btn-small: 15px; // ui=small switch按钮的大小
@switch-btn: 16px; // 默认情况 switch按钮的大小
@switch-btn-large: 21px; // ui=large switch按钮的大小

.veui-switch {
    display: inline-block;
    cursor: pointer;
    font-size: 0;

    &-switcher {
        .size(@switch-width, @switch-height);
        border-radius: @switch-border-radius;
        display: inline-block;
        background-color: @switch-normal-bg-color;
        user-select: none;
        transition: background-color ease .2s;
        vertical-align: middle;
    }

    &[ui~="small"] {
        height: 15px;
        line-height: 15px;
        .veui-switch-switcher {
            .size(@switch-small-width, @switch-small-height);
            border-radius: @switch-small-border-radius;
            background-color: @switch-small-bg-color;
            margin-top: 2px;
            vertical-align: baseline;
        }
        .veui-switch-button {
            .size(@switch-btn-small);
            border: 1px solid @switch-btn-border-color;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
            margin: -2px 0 0 0;
        }
        .veui-switch-label {
            position: relative;
            top: -3px;
            font-size: @veui-font-size-small;
            vertical-align: baseline;
        }
        &.veui-switch-on {
            .veui-switch-switcher {
                background-color: @switch-small-color;
            }
            .veui-switch-button {
                transform: translateX(13.2px);
            }
        }
    }

    &[ui~="large"] {
        .veui-switch-switcher {
            .size(@switch-large-width, @switch-large-height);
            border-radius: @switch-large-border-radius;
        }
        .veui-switch-button {
            .size(@switch-btn-large);
        }
        .veui-switch-label {
            font-size: @veui-font-size-large;
        }
        &.veui-switch-on {
            .veui-switch-switcher {
                background-color: @switch-large-color;
            }
            .veui-switch-button {
                transform: translateX(45px);
            }
        }
    }

    &-label {
        display: inline-block;
        color: @veui-text-color;
        margin-left: 5px;
        font-size: @veui-font-size-normal;
        vertical-align: middle;
    }

    &-button {
        display: inline-block;
        position: relative;
        background-color: @veui-light-gray-color5;
        border-radius: 50%;
        margin: 2px;
        transition: transform ease .2s;
        .size(@switch-btn);

        .veui-icon {
            .absolute(50%, _, _, 50%);
            transform: translate(-50%, -50%);
        }
    }

    &-on {
        .veui-switch-switcher {
            background-color: @switch-small-color;
        }
        .veui-switch-button {
            transform: translateX(38px);
        }
    }

    &-readonly {
        cursor: default;
    }

    &-disabled {
        cursor: not-allowed;
    }

    input {
        display: none;
    }
}
