@import "../lib.less";

.veui-table {
  @table-border-color: #e5e5e5;
  @table-th-color: @veui-light-gray-color4;
  @table-th-td-height: 38px;
  @padding-gap: 5px; // 单元格距离左右两边的边距

  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: @veui-dark-gray-color2;
  font-size: @veui-font-size-small;
  border: 1px solid @table-border-color;

  &-cell {
    display: inline-block;
    line-height: 2;
    vertical-align: middle;
  }

  th,
  td {
    height: @table-th-td-height;
    .padding(_, @padding-gap);
    text-align: left;
    white-space: nowrap;
  }

  th {
    font-weight: @veui-font-weight-bold;
  }

  td {
    border: 1px solid @table-border-color;
    border-style: solid none;
    .veui-table-cell {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  thead th {
    background-color: @table-th-color;
  }

  tfoot th {
    border-top: none;
  }

  td&-no-data {
    height: 300px;
    text-align: center;
  }

  .veui-table-selected-row {
    td {
      background-color: @table-th-color;
    }
  }

  tr:hover {
    td {
      background-color: @table-th-color;
    }

    .veui-table-no-data {
      background-color: transparent;
    }
  }

  .veui-button,
  .veui-link {
    & + .veui-button,
    & + .veui-link {
      margin-left: 10px;
    }
  }

  &-header {
    display: inline-block;
    vertical-align: middle;
  }

  & &-column-center {
    text-align: center;
  }

  & &-column-right {
    text-align: right;
    padding-right: @padding-gap;
  }

  .veui-sorter {
    margin-left: 5px;
    font-size: @veui-font-size-small;
  }

  &[ui~="alt"] thead {
    th {
      background-color: @veui-gray-color-8;
    }
  }
  
  &[ui~="bordered"] td {
    border-style: solid;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}
