@import "../lib.less";
@import "../variables/components/tabs.less";

.@{veui-prefix}-tabs {
  @veui-tab-spacing-x-strong-m: 0;
  @veui-tab-menu-padding-x-strong-m: 16px;
  @remove-icon-aspect-ratio: 10 / 16;

  .make-margin-left(@veui-tab-spacing-x-m);
  position: relative;
  font-size: @veui-tab-font-size-m;

  &-menu {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: @veui-tab-height-m;

    &::after {
      content: "";
      .absolute(_, 0, 0);
      border-bottom: @veui-tab-container-border-width solid
        @veui-tab-container-separator-color;
    }
  }

  &-list {
    display: flex;
    position: relative;
    max-width: 100%;
    flex-shrink: 1;
    align-self: stretch;
    z-index: 1;
    overflow: hidden;

    button {
      background: none;
      border: none;
      padding: 0;
    }
  }

  &-extra {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .make-margin-left(@margin) {
    &-item {
      & + & {
        margin-left: @margin;
      }
    }

    &-tip,
    &:not(&-empty) &-add {
      margin-left: @margin;
    }
  }

  &-prev,
  &-next {
    .margin(_, @veui-tab-nav-spacing-m);

    .@{veui-prefix}-icon {
      .veui-icon-size(@veui-tab-icon-size-aux);
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;

    &-label {
      line-height: @veui-line-height-m;
      .veui-transition(color);
    }

    & > &-label {
      display: flex;
      align-items: center;
      padding: 0 @veui-tab-padding-x-m;
      text-decoration: none;
      outline: none;
      position: relative;

      &::before {
        content: "";
        .absolute(0, 0, 1px, 0);
        background-color: transparent;
        z-index: -1;
        .veui-transition(background-color);
      }
    }

    &:not(.@{veui-prefix}-disabled) > &-label {
      color: @veui-tab-font-color;

      &::after {
        content: "";
        .absolute(_, 0, 0);
        height: @veui-tab-indicator-width;
        .veui-transition(background-color, height);
      }

      &:hover {
        cursor: pointer;
        color: @veui-tab-font-color-hover;
      }

      &[data-focus-visible-added] {
        color: @veui-tab-font-color-focus;

        &::before {
          background-color: @veui-tab-background-color-focus;
        }
      }

      &:active {
        color: @veui-tab-font-color-active;
      }
    }

    &-active:not(.@{veui-prefix}-disabled) > &-label {
      color: @veui-tab-font-color-current;

      &::after {
        background-color: @veui-tab-indicator-color;
      }

      &[data-focus-visible-added] {
        color: @veui-tab-font-color-current-focus;

        &::after {
          background-color: @veui-tab-font-color-current-focus;
        }
      }

      &:hover {
        color: @veui-tab-font-color-current-hover;

        &::after {
          background-color: @veui-tab-font-color-current-hover;
        }
      }

      &:active {
        color: @veui-tab-font-color-current-active;

        &::after {
          background-color: @veui-tab-font-color-current-active;
        }
      }
    }

    &.@{veui-prefix}-disabled > &-label {
      cursor: not-allowed;
      color: @veui-tab-font-color-disabled;
    }

    &-label-content {
      display: flex;
      align-items: center;
      .veui-transition(transform);

      .@{veui-prefix}-icon,
      .veui-icon {
        .veui-icon-size(@veui-tab-icon-size);
      }
    }

    &-removable&-remove-focus &-label-content,
    &-removable &-label[data-focus-visible-added] &-label-content,
    &-removable:hover &-label-content {
      @offset: veui-sum(
        calc(@veui-tab-content-spacing * -0.5),
        calc((1.2em * @remove-icon-aspect-ratio) * -0.5)
      );

      transform: ~"translateX(@{offset})";
    }

    &-remove {
      @offset: veui-sum(
        @veui-tab-padding-x-m,
        calc(@veui-tab-content-spacing * -0.5),
        calc((1.2em * @remove-icon-aspect-ratio) * -0.5)
      );
      .absolute(50%, @offset, _, _);
      transform: translateY(-50%) scale(0.5);
      opacity: 0;
      .veui-transition(transform, opacity);

      .@{veui-prefix}-icon {
        .veui-icon-size(@veui-tab-icon-size-aux);
      }
    }

    &-remove[data-focus-visible-added],
    &-removable &-label[data-focus-visible-added] + &-remove,
    &-removable:hover &-remove {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  &-item-status {
    margin-left: @veui-tab-content-spacing;
    cursor: pointer;

    .veui-tabs-status(@type) {
      @color-name: ~"veui-color-@{type}-6";
      @color: @@color-name;

      color: @color;
    }

    &-success {
      .veui-tabs-status(success);
    }

    &-warning {
      .veui-tabs-status(warning);
    }

    &-info {
      .veui-tabs-status(info);
    }

    &-error {
      .veui-tabs-status(error);
    }
  }

  &-add.@{veui-prefix}-button {
    flex: 0 0 auto;
    align-self: center;
    color: @veui-tab-font-color;
  }

  &-tip {
    color: @veui-color-gray-9;
  }

  &[ui~="l"] {
    .make-margin-left(@veui-tab-spacing-x-l);
    font-size: @veui-tab-font-size-l;
  }

  &[ui~="l"] & {
    &-menu {
      height: @veui-tab-height-l;
    }

    &-item-label {
      padding: 0 @veui-tab-padding-x-l;
    }

    &-prev,
    &-next {
      .margin(_, @veui-tab-nav-spacing-l);
    }
  }

  &[ui~="s"] {
    .make-margin-left(@veui-tab-spacing-x-s);
    font-size: @veui-tab-font-size-s;
  }

  &[ui~="s"] & {
    &-menu {
      height: @veui-tab-height-s;
    }

    &-item-label {
      padding: 0 @veui-tab-padding-x-s;
    }

    &-prev,
    &-next {
      .margin(_, @veui-tab-nav-spacing-s);
    }
  }

  &[ui~="simple"] & {
    &-menu {
      height: auto;

      &::after {
        content: none;
      }
    }

    &-item {
      & + .@{veui-prefix}-tabs-item {
        position: relative;
        margin-left: 1px;
        .centered-line(
          veui-even(veui-line-height(@veui-line-height-m, @veui-font-size-m))
        );

        &::before {
          content: "";
          .absolute(50%, _, _, -1px);
          transform: translateY(-50%);
          .size(1px, @veui-tab-separator-height-simple);
          background-color: @veui-tab-separator-color;
        }
      }

      &-label {
        &::after {
          content: none;
        }
      }
    }
  }

  &[ui~="strong"] & {
    &-menu {
      height: @veui-tab-menu-height-strong-m;
      .padding(veui-sum(@veui-tab-menu-height-strong-m, -@veui-tab-height-m), @veui-tab-menu-padding-x-strong-m, _);
      background-color: @veui-tab-menu-background-color-strong;
      .border-top-radius(@veui-tab-container-border-radius-strong-m);
      .border-top-radius(6px);

      &::after {
        content: none;
      }
    }

    &-item {
      height: @veui-tab-height-m;

      & + .@{veui-prefix}-tabs-item {
        margin-left: @veui-tab-spacing-x-strong-m;
      }

      &-label {
        padding: 0 @veui-tab-padding-x-strong-m;
        background-color: @veui-tab-background-color-strong;
        color: @veui-tab-font-color-strong;
        .border-top-radius(@veui-tab-border-radius-strong-m);
        .border-top-radius(10px);
        .veui-transition(color, background-color);

        &::before,
        &::after {
          content: none;
        }

        &:hover {
          background-color: @veui-tab-background-color-strong-hover;
          color: @veui-tab-font-color-strong-hover;
        }

        &[data-focus-visible-added] {
          background-color: @veui-tab-background-color-strong-focus;
          color: @veui-tab-font-color-strong-focus;
        }

        &:active {
          background-color: @veui-tab-background-color-strong-active;
          color: @veui-tab-font-color-strong-active;
        }
      }

      &.@{veui-prefix}-disabled &-label {
        background-color: @veui-tab-background-color-strong-disabled;
      }

      &-remove {
        @offset: veui-sum(
          @veui-tab-padding-x-strong-m,
          calc(@veui-tab-content-spacing * -0.5),
          calc((1.2em * @remove-icon-aspect-ratio) * -0.5)
        );
        right: @offset;
      }
    }

    &-prev {
      margin-left: veui-sum(@veui-tab-nav-spacing-m, @veui-tab-menu-padding-x-strong-m * -1);
    }

    &-next:last-child {
      margin-right: veui-sum(@veui-tab-nav-spacing-m, @veui-tab-menu-padding-x-strong-m * -1);
    }

    &-item-active {
      .@{veui-prefix}-tabs-item-label {
        background-color: @veui-tab-background-color-strong-current;
        color: @veui-tab-font-color-strong-current;

        &:hover {
          background-color: @veui-tab-background-color-strong-current-hover;
          color: @veui-tab-font-color-strong-current-hover;
        }

        &[data-focus-visible-added] {
          background-color: @veui-tab-background-color-strong-current-focus;
          color: @veui-tab-font-color-strong-current-focus;
        }

        &:active {
          background-color: @veui-tab-background-color-strong-current-active;
          color: @veui-tab-font-color-strong-current-active;
        }
      }
    }

    &-panel {
      .clearfix();
      border: 1px solid @veui-tab-container-border-color-strong;
      border-top-style: none;
    }
  }
}
